:root {
    --navbar: #7AACB3;
    --fondoItemNavar: #7d8181;
    --btnVerde: #3BBC57;
    --btnAmarillo: #F3BA4A;
    --btnAzul: #3B57BC;
    --btnRojo: #F94646;
    --fondoPagina: #f4e5f1;
    --spanVerde: #008512;
    --fondoItem: #D9D9D9;
}