.itemProductoContenedor {
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 5% 5%;
    width: 100%;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    margin-top: .5rem;
    background-color: var(--fondoItem);
}

.itemProductoContenedor>div {
    display: inherit;
    justify-content: center;
    align-items: center;
}

.itemProductoContenedor span {
    color: var(--spanVerde);
    font-weight: bold;
}

.itemProductoContenedor .infoProducto {
    justify-content: left;
}